@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

.icon {
  width: 40px;
  flex-shrink: 0;
}

:root {
  --gray-blue-grey-blue-95: #edeff2;
  --white: #fff;
  --gray-blue-grey-blue-98: #f7f8fa;
  --text-primary: #4d5e80;
  --gray-blue-grey-blue-70: #7d8fb3;
  --gray-blue-grey5: #adb8cc;
  --gray-blue-grey-blue-60: #6b7a99;
  --gray-blue-grey-blue-95: #edeff2;
  --gray-blue-grey-blue-98: #f7f8fa;
  --blue-blue: #3361ff;
  --gray-blue-grey-blue-97: #f5f6f7;
  --pink-pink: #e62e7b;
  --green-green: #29cc39;
  --yellow-yellow: #ffcb33;
  --todo-bg: #54c1ad;
  --bg-done: #f06a6d;
  --pendding-bg: #fdbf46;
  --bg-add: #27a300;
  --border-primary: #a3a3b9;
  --bg-doing: #fdbf46;
  --bg-todo: #54c1ad;
  --progress-bg: #fdbf46;
  --warning-color: #fdbf46;
  --error-color: #ef233c;
  --bg-theme: #f7f8fa;
  --bg-card: #fff;
  --hover-todo: rgba(0, 0, 0, 0.05);
}

.dark-theme {
  --gray-blue-grey-blue-95: #edeff2;
  --white: #fff;
  --gray-blue-grey-blue-98: #f7f8fa;
  --text-primary: #fff;
  --gray-blue-grey-blue-70: #7d8fb3;
  --gray-blue-grey5: #adb8cc;
  --gray-blue-grey-blue-60: #6b7a99;
  --gray-blue-grey-blue-95: #edeff2;
  --gray-blue-grey-blue-98: #f7f8fa;
  --blue-blue: #3361ff;
  --gray-blue-grey-blue-97: #f5f6f7;
  --pink-pink: #e62e7b;
  --green-green: #29cc39;
  --yellow-yellow: #ffcb33;
  --todo-bg: #54c1ad;
  --bg-done: #f06a6d;
  --pendding-bg: #fdbf46;
  --bg-add: #27a300;
  --border-primary: #a3a3b9;
  --bg-doing: #fdbf46;
  --bg-todo: #54c1ad;
  --progress-bg: #fdbf46;
  --warning-color: #fdbf46;
  --error-color: #ef233c;
  --bg-theme: rgb(30, 30, 30);
  --bg-card: rgba(255, 255, 255, 0.1);
  --hover-todo: rgba(255, 255, 255, 0.1);
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: var(--white);
  color: var(--text-primary);
}

.has-scrollbar {
  will-change: scroll-position;
  scroll-behavior: smooth;
  overflow: hidden overlay;
}
.has-scrollbar::-webkit-scrollbar {
  width: 4px;
  visibility: hidden;
}
.has-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
  visibility: visible;
}
.has-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #b7b7a4;
}

.form-floating > .bi-calendar-date + .datepicker_input + label {
  padding-left: 3.5rem;
  z-index: 3;
}

.wrapper-layout {
  margin: 0 auto;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.main {
  background-color: var(--bg-theme);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  background-color: var(--bg-theme);
}

input {
  color: var(--text-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  border: 0;
  width: 100%;
  border: 1px solid var(--border-primary);
  border-radius: 8px;
}

input::-moz-placeholder {
  color: var(--text-primary);
}

input::placeholder {
  color: var(--text-primary);
}

input:focus {
  border-color: var(--bg-doing);
}

.flatpickr-calendar.animate.open {
  background-color: var(--bg-theme);
}
.flatpickr-calendar.animate.open .flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-calendar.animate.open .flatpickr-current-month .numInputWrapper,
.flatpickr-calendar.animate.open .flatpickr-months .flatpickr-prev-month,
.flatpickr-calendar.animate.open .flatpickr-months .flatpickr-next-month,
.flatpickr-calendar.animate.open .flatpickr-months .flatpickr-prev-month svg,
.flatpickr-calendar.animate.open .flatpickr-months .flatpickr-next-month svg,
.flatpickr-calendar.animate.open span.flatpickr-weekday {
  color: var(--text-primary);
}

.flatpickr-day.nextMonthDay {
  color: var(--text-primary);
  opacity: 0.7;
}

.flatpickr-time input.flatpickr-hour,
.flatpickr-day {
  color: var(--text-primary);
}

.btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  padding: 6px 12px;
  transition: all;
  color: var(--white);
  justify-content: center;
}
.btn:hover {
  opacity: 0.8;
  color: var(--white);
}

.btn-update {
  background-color: var(--bg-add);
  -moz-column-gap: 4px;
       column-gap: 4px;
}

.btn-update.is-editing {
  display: flex;
}

.btn-add {
  background-color: var(--bg-add);
}

.btn-add.is-editing {
  display: none;
}

.todo-status__todo,
.todo-status__pendding,
.todo-status__done {
  background-color: var(--gray-blue-grey-blue-98);
}

.todo-item {
  background-color: var(--bg-card);
  border-radius: 8px;
  padding: 12px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all;
}
.todo-item:hover {
  background-color: var(--hover-todo);
}

.cbx {
  position: relative;
  top: 1px;
  width: 27px;
  height: 27px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
}

.cbx:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;
  width: 7px;
  height: 14px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#cbx:checked ~ .cbx {
  border-color: transparent;
  background: var(--bg-todo);
  animation: jelly 0.6s ease;
}

#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.cntr {
  position: relative;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
.todo-item {
  cursor: pointer;
}
.hidden-xs-up {
  display: none !important;
}

.icon-trash {
  transition: all;
  color: var(--bg-done);
  cursor: pointer;
}
.icon-trash:hover {
  opacity: 0.8;
}

.edit-btn {
  transition: all;
  color: var(--pendding-bg);
  cursor: pointer;
}
.edit-btn:hover {
  opacity: 0.8;
}

.btn.btn--todo {
  background-color: var(--bg-todo);
}

.btn.btn--doing {
  background-color: var(--bg-doing);
}

.btn.btn--done {
  background-color: var(--bg-done);
}

.todo-heading--todo {
  color: var(--todo-bg);
}

.todo-heading--doing {
  color: var(--bg-doing);
}

.todo-heading--done {
  color: var(--bg-done);
}

.todo-heading__line {
  height: 2px;
  width: 100%;
  background-color: var(--border-primary);
}

.checkbox-status {
  cursor: pointer;
  transition: background-color 0.3s;
  color: transparent;
}

.todo-column--todo .todo-item {
  border-left: 6px solid var(--bg-todo);
}
.todo-column--todo .todo-item:hover .checkbox-status {
  color: transparent;
}
.todo-column--todo .checkbox-box {
  border: 2px solid var(--bg-todo);
}
.todo-column--todo .is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: var(--bg-todo);
  color: white;
}

.todo-column--doing .todo-item {
  border-left: 6px solid var(--bg-doing);
}
.todo-column--doing .todo-item:hover .checkbox-status {
  color: transparent;
}
.todo-column--doing .checkbox-box {
  border: 2px solid var(--bg-doing);
}
.todo-column--doing .checkbox-box {
  border: 2px solid var(--bg-doing);
}

.todo-column--done .todo-item {
  border-left: 6px solid var(--bg-done);
}
.todo-column--done .checkbox-box {
  border: 2px solid var(--bg-done);
}
.todo-column--done .checkbox-box {
  background-color: var(--bg-done);
  border-color: transparent;
}
.todo-column--done .checkbox-status {
  color: var(--white);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  color: rgba(57, 57, 57, 0.5);
}

.is-dragging {
  border-radius: 8px;
}

.todo-column--doing .is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: var(--bg-doing);
  color: white;
}

.todo-column--done .is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: var(--bg-done);
  color: white;
}
.todo-column--done .todo__content-name {
  text-decoration: line-through;
  opacity: 0.7;
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  border-left: 6px solid var(--bg-doing);
  z-index: 300;
  width: 370px;
}
.toast.active {
  transform: translateX(0%);
}
.toast .icon-warning {
  color: #fff;
  background-color: var(--bg-doing);
}
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.toast .close:hover {
  opacity: 1;
}
.toast .toast-content .message {
  display: flex;
  flex-direction: column;
}
.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ddd;
}
.toast .progress::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50px;
  height: 100%;
  width: 100%;
  background-color: var(--progress-bg);
}
.toast .progress.active::before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
.darkmode {
  height: 22px;
  width: 45px;
  transform: scale(1.4);
  transition: 0.5s ease-in-out;
  background-color: var(--bg-doing);
}
.darkmode .spinner {
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% - 20px);
  transition: 1s ease-in-out;
}
.darkmode.active .spinner {
  right: calc(100% - 20px);
  left: auto;
  transition: 1s ease-in-out;
}
.darkmode.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.flatpickr-time input:hover {
  background-color: var(--bg-doing);
  color: var(--white);
}

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.numInputWrapper:hover {
  background: var(--bg-doing);
  color: var(--white);
}

.flatpickr-day:hover {
  background: var(--bg-doing);
  color: var(--white);
  border-color: var(--bg-doing);
}

.flatpickr-time input {
  color: var(--text-primary);
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after,
.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: var(--text-primary);
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after,
.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: var(--text-primary);
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  fill: var(--text-primary);
}

.flatpickr-day:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.today {
  border-color: var(--bg-doing);
}
.flatpickr-day:hover:hover,
.flatpickr-day.nextMonthDay:hover:hover,
.flatpickr-day.today:hover {
  background: var(--bg-doing);
  color: var(--white);
  border-color: var(--bg-doing);
}

.flatpickr-day.selected {
  border-color: var(--bg-doing);
  background: var(--bg-doing) !important;
}
.flatpickr-day.selected:hover {
  background: var(--bg-doing) !important;
  color: var(--white) !important;
  border-color: var(--bg-doing) !important;
}

section {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select option {
  background-color: var(--bg-doing); /* Màu nền cho từng tùy chọn */
}

.notify-status__text,
.notify-status {
  color: var(--gray-blue-grey-blue-70);
}/*# sourceMappingURL=style.css.map */